  @use "../sass/mixins" as mxs;

  .EditItemForm {
     position: absolute;
     inset: 0;
     margin: auto;
     z-index: 1;
     width: 50%;
     height: fit-content;
     border: none;
     border-radius: 10px;
     padding: 10px 20px 20px;
     background-color: var(--my-color-grey-A);



     form {
        background-color: var(--my-color-grey);
        position: relative;

        & > fieldset {
           padding: 6px 12px 12px;
           border: 1px solid var(--my-color-black);
           border-radius: 8px;

           & > legend {
              color: var(--my-color-green);
              font-weight: 600;
              text-align: center
           }

           & > input {
              @include mxs.button;
              width: 24px;
              border-radius: 4px;
              position: absolute;
              top: 0px;
              right: -10px;
           }

           & > div {
              @include mxs.rowFlex(space-between, center, 2%);

              .EditItemForm__left,
              .EditItemForm__right {
                 @include mxs.colFlex(space-between, center, 4px);
                 width: 48%;

                 & > fieldset {
                    @include mxs.rowFlex(start, center, 10px);
                    width: 100%;
                    padding: 2px 0px;
                    border: none;

                    legend {
                       margin-left: 10px;
                       color: var(--my-color-black);
                       font-weight: 600;
                       text-align: left;

                       &::first-letter {
                          text-transform: uppercase;
                          color: var(--my-color-green);
                       }

                       span {
                          color: var(--my-color-red);
                       }
                    }

                    input {
                       width: 100%;
                       padding: 2px 10px;
                       color: var(--my-color-black);

                       &:placeholder-shown {
                          font-style: italic;
                          letter-spacing: 2px;
                       }

                       &.EditItemForm__discountPercent {
                          width: calc(100% - 23px);
                          visibility: hidden;
                       }

                       &[type="checkbox"] {
                          width: fit-content;

                          &:checked {
                             accent-color: var(--my-color-green);
                             background-color: red;
                          }

                          &:checked + input {
                             visibility: visible;
                          }
                       }
                    }

                    label {
                       user-select: none;
                    }
                 }
              }
           }

           .EditItemForm__bottomDiv {
              padding-top: 10px;

              input {
                 @include mxs.button;
                 width: 48%;
              }
           }
        }
     }
  }