@use "../sass/mixins" as mxs;

.SingleItem {
   min-height: calc(100vh - 148px);
   padding: 20px;
   @include mxs.rowFlex(start, start);

   table {
      width: 100%;
      height: 100%;
      border: 2px solid var(--my-color-black);
      border-collapse: collapse;

      caption {
         color: var(--my-color-red);
         text-decoration: underline solid 1px var(--my-color-red);
         text-underline-offset: 1px;
         padding-bottom: 10px;
         font-weight: 600;
         letter-spacing: 1px;
      }

      tr {

         .SingleItem__imgTd {
            width: 36%;
            height: 100%;
            cursor: none;
         }

         th {
            color: var(--my-color-green);
         }

         td {
            color: var(--my-color-black);
         }

         th,
         td {
            width: 32%;
            height: fit-content;
            padding-block: 10px;
            text-align: center;
            font-size: clamp(12px, 2vw, 17px);
            border: 1px solid var(--my-color-black);

            img {
               width: 100%;
               height: 100%;
            }

            &:has(button) {
               @include mxs.rowFlex(space-evenly, center);
               border: none;
               width: 100%;

               button {
                  @include mxs.button;
               }

               .SingleItem__downloadButton {
                  width: 32px;
                  height: 30px;
                  line-height: 28px;
                  border: 1px solid var(--my-color-blue);

                  a {
                     text-decoration: none;
                     color: inherit;
                  }

                  &:hover {
                     background-color: var(--my-color-blue);
                     border: 1px solid var(--my-color-blue);

                     path {
                        fill: var(--my-color-white);
                     }
                  }

               }
            }

         }
      }
   }
}