@use "../sass/mixins" as mxs;

.Brief{
   @include mxs.colFlex(center, center);
   width: max(32%, 200px);
   min-height: calc((100vh - 509px) / 2);
   margin-bottom: 20px;
   background-color: var(--my-color-white);
   border-radius: 8px;
   box-shadow: 0px 0px 2px 0px var(--my-color-black);
   scroll-snap-align: center;

   &:hover{
      box-shadow: 0px 0px 2px 1px var(--my-color-black);
   }


   h4, p{
      text-align: center;
   }

   div{
      @include mxs.rowFlex(center, center, 10px);
      padding: 10px;

      button{
         @include mxs.button;
      }
   }
}