@use "../sass/mixins" as mxs;

.Brief {
   @include mxs.colFlex(center, center);
   width: max(32%, 200px);
   min-height: calc((100dvh - 521px) / 1.5);
   margin-bottom: 20px;
   background-color: var(--my-color-white);
   border-radius: 8px;
   border: 2px solid var(--my-color-black);
   scroll-snap-align: center;
   transition:
      border 150ms linear,
      box-shadow 150ms linear;

   &:hover {
      border: 2px solid var(--my-color-green);
      box-shadow: 0px 0px 4px 2px var(--my-color-grey);
   }

   h1,
   p {
      text-align: center;
      color: var(--my-color-black);
   }

   h4 {
      font-weight: 700;
   }

   p {
      font-weight: 500;
   }

   div {
      @include mxs.rowFlex(center, center, 10px);
      padding: 10px;

      button {
         @include mxs.button;
      }
   }
}