  @use "../sass/mixins" as mxs;

  .NewItemForm {
     width: 100%;
     min-height: calc((100vh - 248px) / 3.6);
     overflow-y: auto;
     scroll-snap-align: center;

     fieldset {
        @include mxs.colFlex(space-between, center, 20px);
        padding: 10px;
        border-radius: 8px;

        & > div {
           @include mxs.rowFlex(start, center, 5px);
           width: 100%;

           p{
            width: 50%;
            text-align: center;
            color: var(--my-color-red);
           }

           input:not([type="checkbox"]) {
              width: 50%;
           }


           input[type="checkbox"] {

              &:checked {
                 accent-color: var(--my-color-green);
                 background-color: red;
              }

              &:checked + label {
                 color: var(--my-color-green);
              }

              &:checked ~ input {
                 visibility: visible;
              }
           }

           label {
              color: var(--my-color-red);
              user-select: none;
           }

           .discountPercent.discountPercent {
              width: calc(50% - 82px);
              visibility: hidden;
           }
        }


     }
  }