  @use "../sass/mixins" as mxs;

  .NewItemForm {
     width: 100%;
     background-color: var(--my-color-grey);

     & > fieldset {
        padding: 6px 12px 12px;
        border: 2px solid var(--my-color-black);
        border-radius: 8px;

        @media only screen and (max-width: 549px) {
           overflow-y: auto;
           height: 292px;
        }

        & > legend {
           color: var(--my-color-green);
           font-weight: 600;
           text-align: center
        }

        & > div {
           @include mxs.rowFlex(space-between, center, 2%);

           @media only screen and (max-width: 549px) {
              flex-direction: column;
           }

           .left,
           .right {
              @include mxs.colFlex(space-between, center, 4px);
              width: 48%;

              @media only screen and (max-width: 549px) {
                 width: 100%;
              }

              & > fieldset {
                 @include mxs.rowFlex(start, center, 10px);
                 width: 100%;
                 padding: 2px 0px;
                 border: none;


                 legend {
                    margin-left: 10px;
                    color: var(--my-color-green);
                    font-weight: 600;
                    text-align: left;

                    span {
                       color: var(--my-color-red);
                    }
                 }

                 input {
                    width: 100%;
                    padding: 2px 10px;
                    color: var(--my-color-black);

                    &:placeholder-shown {
                       font-style: italic;
                       letter-spacing: 2px;
                    }

                    &.discountPercent.discountPercent {
                       width: calc(100% - 23px);
                       visibility: hidden;
                    }

                    &[type="checkbox"] {
                       width: fit-content;

                       &:checked {
                          accent-color: var(--my-color-green);
                          background-color: red;
                       }

                       &:checked + input {
                          visibility: visible;
                       }
                    }
                 }

                 label {
                    user-select: none;
                 }
              }
           }
        }

        .bottom {
           @include mxs.rowFlex(space-between, center);

           input {
              @include mxs.button;
              margin-top: 10px;
              width: 48%;
           }
        }
     }
  }