@use "../sass/mixins" as mxs;

.StorePage {

   h2 {
      font-size: 32px;
      padding: 0px 0px 10px 20px;
   }

   .StorePage__items {
      @include mxs.rowFlex(space-around, center, 40px);
      flex-wrap: wrap;
      padding: 10px 20px;

   }
}