@use "../sass/mixins" as mxs;

.StorePage {

   h2 {
      padding: 0px 0px 10px 20px;
   }

   .StorePage__items {
      @include mxs.rowFlex(space-evenly, center, 30px 3%);
      flex-wrap: wrap;
      height: calc(100vh - 289px);
      padding: 10px 20px;
      overflow-y: auto;
   }
}