@use "../sass/mixins" as mxs;

.StorePage {

   h2 {
      padding: 20px;
   }

   .auxNav {
      @include mxs.rowFlex(space-between, center);
      padding-inline: 20px;
      background-color: var(--my-color-grey);

      ul {
         padding-block: 10px;
         @include mxs.rowFlex(start, center, 5%);

         li {
            list-style-type: none;
            color: var(--my-color-black);
            cursor: pointer;

         }
      }

      select{
         padding: 2px 20px;
         border: none
      }
   }

   .storeItems{
      @include mxs.rowFlex(space-evenly, center, 30px);
      flex-wrap: wrap;
   }
}