@use "../sass/mixins" as mxs;

.AdminPage {

   .adminPageTopDiv {
      @include mxs.rowFlex(space-between);
      padding: 20px;

      h2 {}
   }


   .adminPanel {
      @include mxs.rowFlex(space-between, start);
      flex-wrap: wrap;
      padding: 0px 20px 20px;

      .adminItems{
         @include mxs.rowFlex(space-evenly, start, 1%);
         flex-wrap: wrap;
         width: 64%;
         height: calc(100vh - 238px);
         padding-block: 10px;
         overflow-y: auto;
         border: 1px solid black;
      }


   }
}