@use "../sass/mixins" as mxs;

.CartPage {
   padding-block: 20px;

   h2 {
      padding-left: 20px;
      color: var(--my-color-black)
   }

   .CartPage__items {
      @include mxs.colFlex(start, start, 20px);
      height: calc(100vh - 284px);
      overflow-y: auto;
      padding: 20px;
   }

   .CartPage__bottomDiv {
      @include mxs.rowFlex(space-between, center);
      margin-top: 20px;
      padding: 0px 20px;

      p {
         color: var(--my-color-green);
         font-weight: 500;
         font-size: clamp(14px, 2vw, 16px);

         span {
            color: var(--my-color-red);
         }
      }

      button {
         @include mxs.button;
         margin-left: 10px;
         
         @media only screen and (max-width: 549px) {
            width: 50px;
         }
      }
   }
}