@use "../sass/mixins" as mxs;

header {
   background-color: var(--my-color-red);

   .headerTop {
      padding: 10px 20px;
      @include mxs.rowFlex(space-between, center);

      h1 {
         text-align: center;
         color: var(--my-color-black);
      }

      button {
         all: unset;
         cursor: pointer;
         transition: scale 150ms linear;

         &:active{
            scale: 0.9;
         }

         svg,
         path {
            user-select: none;
            pointer-events: none;
         }
      }
   }
}