@use "../sass/mixins" as mxs;

.Header {
   background-color: var(--my-color-green);

   .Header__topDiv {
      padding: 10px 20px;
      @include mxs.rowFlex(space-between, center);
      
      h1 {
         text-align: left;
         text-shadow: 1px 1px 2px var(--my-color-black);
   
         a {
            color: var(--my-color-white);
            text-decoration: none;
         }
      }

      button {
         all: unset;
         cursor: pointer;
         transition: scale 150ms linear;

         &:active {
            scale: 0.9;
         }

         svg,
         path {
            user-select: none;
            pointer-events: none;
         }
      }
   }
}