@use "../sass/mixins" as mxs;

.CartItem {
   @include mxs.rowFlex(space-between, center);
   background-color: var(--my-color-white);
   box-shadow: 0px 0px 2px 0px var(--my-color-black);
   border-radius: 10px;
   width: 100%;
   height: 90px;
   padding: 10px;
   transition: box-shadow 150ms ease-in-out;

   &:hover {
      box-shadow: 0px 0px 2px 1px var(--my-color-green);
   }

   @media only screen and (max-width: 549px) {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 10px;
      background-color: var(--my-color-white);
      height: fit-content;
      padding: 20px;
   }

   figcaption,
   p {
      color: var(--my-color-green);
      font-weight: 500;
   }

   button {
      @include mxs.button;
      border-radius: 4px;
   }

   .left {
      @include mxs.rowFlex(start, center);
      height: 100%;

      @media only screen and (max-width: 549px) {
         flex-direction: column-reverse;
      }

      figcaption {
         width: 160px;

         @media only screen and (max-width: 549px) {
            text-align: center;
         }
      }

      img {
         width: 70px;
         height: 100%;

         @media only screen and (max-width: 549px) {
            width: 120px;
            height: 140px;
         }
      }
   }

   .mid {
      @include mxs.colFlex(space-between, center, 10px);

      p {
         color: var(--my-color-black);
      }

      div {
         @include mxs.rowFlex(start, center, 10px);


         button {
            width: 30px;
         }
      }
   }

   .right {

      @media only screen and (max-width: 549px) {
         padding-top: 10px;
      }

      button {
         width: 32px;
         height: 32px;
      }
   }
}