@use "../sass/mixins" as mxs;

.CartItem{
   @include mxs.rowFlex(space-between, center);
   background-color: var(--my-color-white);
   border: 1px solid var(--my-color-black);
   border-radius: 10px;
   width: 100%;
   height: 90px;
   padding: 10px;

   figcaption{
      width: 22%;
   }

   img{
      height: 100%;
   }

   div{
      @include mxs.rowFlex(space-between, center, 10px);
   }

   button{
      padding: 2px 4px;
   }
}