@use "../sass/mixins" as mxs;

.SearchBar {
   @include mxs.rowFlex(space-between, center);
   width: 24%;
   border: 1px solid var(--my-color-black);
   background-color: var(--my-color-white);

   input {
      width: calc(100% - 31px);
      height: 30px;
      padding-inline: 10px;
      border: none;
      background-color: var(--my-color-white);

      &:focus {
         outline: 1px solid var(--my-color-black);
      }
   }

   button {
      width: 30px;
      height: 30px;
      background-color: var(--my-color-white);
      border: none;
      cursor: pointer;
   }
}