:root {
  --my-font-family: system-ui, sans-serif;
  // colors
  --my-color-black: rgb(60, 60, 60);
  --my-color-white: rgb(253, 253, 253);
  --my-color-grey: rgb(246, 246, 246);
  --my-color-grey-A: rgb(246, 246, 246, 0.9);
  --my-color-red: rgb(230, 50, 50);
  --my-color-green: rgb(60, 130, 60);
  --my-color-blue: rgb(54, 136, 255);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: var(--my-font-family);
}

main {
  margin: 0 auto;
  width: min(100%, 1120px);
  background-color: var(--my-color-grey);
}