@use "../sass/mixins" as mxs;

.Nav{
   background-color: var(--my-color-red);
   
   ul{
      padding: 10px 20px;
      @include mxs.rowFlex(space-between, center);

      li{
         list-style-type: none;

         a{
            text-decoration: none;
            color: var(--my-color-black);
            font-weight: 600;
         }
      }
   }
}