@use "../sass/mixins" as mxs;

.LoginModal {
   width: max(28%, 280px);
   position: absolute;
   inset: 0;
   margin: auto;
   padding: 10px 20px 20px;
   border: none;
   border-radius: 10px;
   background-color: var(--my-color-grey);

   fieldset {
      @include mxs.colFlex(center, center, 10px);
      padding: 16px;
      position: relative;
      border: 2px solid var(--my-color-red);
      border-radius: 10px;

      legend {
         color: var(--my-color-red);
         font-weight: 700;
         letter-spacing: 1px;
      }

      button {
         position: absolute;
         top: -23px;
         right: -6px;
         width: 20px;
         height: 20px;
         line-height: 20px;
         color: var(--my-color-white);
         background-color: var(--my-color-red);
         text-align: center;
         
         &:hover {
            color: var(--my-color-white);
            background-color: var(--my-color-green);
         }
      }

      input {
         width: 100%;
         padding: 6px 10px;
         color: var(--my-color-red);
         outline-color: var(--my-color-red);

         &[type="submit"],
         &[type="reset"] {
            color: var(--my-color-black);
            transition: scale 150ms linear;

            &:active {
               scale: 0.9;
            }
         }
      }

      p {
         color: var(--my-color-red);
         font-style: italic;
      }
   }
}